<div class="form-container" data-controller="urlform">
    <p class="error" data-target="urlform.error"></p>
    <div class="form">
        <label for="originalUrl">Original Url:</label>
        <input data-target="urlform.originalUrl" type="text" id="originalUrl">
        <button data-action="click->urlform#checkAndSubmit">
            Create
        </button>

    </div>
    <p class="mylink" data-target="urlform.shortUrl"></p>
</div>