body {
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
}
nav {

    background-color: #caf0f8;
    margin-bottom: 10px;
    .content {
        max-width: 1000px;
        margin: 0 auto;
       padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    font-size:24px;

     a {
         text-decoration: none;
         color:rgb(0, 0, 0);
     } 
    }
    
}

.mygrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.table-container {
    max-width: 1000px;
    margin: 0 auto;
}
.table-title {
    background-color: #caf0f8;
    p {
        font-size: 24px;
        font-weight: bold;
        padding: 5px;
    }
}
.urls_table {

    background-color: whitesmoke;
    p {
        padding: 5px;
        border-bottom: 1px solid black ;
    }
}
.hidden {
    display: none;
}
.form-container {
    background-color: aliceblue;
    max-width: 700px;
    margin: 0 auto;

    .error {
        color: red;
        background-color: rgba(255, 0, 0, 0.295);
        padding: 5px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
    .form {
        padding: 10px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        label {
            font-size: 20px;
        }
        input {
            width: 90%;
            padding: 5px;
            font-size: 18px;
            margin-top: 15px;
        }
        button {
            background-color: #023e8a;
            color: #caf0f8;
            font-size: 18px;
            font-weight: 400;
            border: none;
            border-radius: 5px;
            padding:5px;
            margin-top: 15px;
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }
    .mylink {
        border: 1px solid white;
        padding: 5px;
        font-size: 18px;
        text-align: center;
        background-color: gainsboro;
    }
}